<h1>
  Carrier Dashboard:
  <%= current_carrier.email %>
</h1>

<h2>Trucks List</h2>
<%= render partial: 'trucks/table',  locals: {trucks: current_carrier.trucks} %>

<%= link_to "Add Truck", new_carrier_truck_path(current_carrier), class: "button" %>